---
import PostList from "@/components/NewPosts/PostList";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <section class="p-40">
        <h1>Contacta con nosotros</h1>
    
    </section>
    

</Layout>
