---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="galeria">
  <h1 class="text-center font-bold text-5xl mt-32">Galería</h1>
  <section class="w-full flex justify-content-center">
    <div
      class="pswp-gallery pswp-gallery--single-column mt-24 grid grid-cols-6 gap-4 align-content-center w-full"
      id="gallery--getting-started"
    >
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a><a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>
      <a
        href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
        data-pswp-width="1669"
        data-pswp-height="2500"
        target="_blank"
      >
        <img
          src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg"
          alt=""
        />
      </a>

      <!-- data-pswp-src with custom URL in href -->

      <!-- Without thumbnail: -->

      <!-- wrapped with any element: -->
    </div>
  </section>
</Layout>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    // may select multiple "galleries"
    gallery: "#gallery--getting-started",

    // Elements within gallery (slides)
    children: "a",

    // setup PhotoSwipe Core dynamic import
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
