---
import GuidePost from "@/components/Guides/GuidePost";
import PocketBase from 'pocketbase';
import { getThumb } from '@/lib/utils'
import Layout from "@/layouts/Layout.astro";

async function getItems() {
  const pb = new PocketBase("https://esciclismomalaga.pockethost.io");
  const resultList = await pb.collection("guias").getList(1, 50);
  return resultList.items;
}

const items = await getItems();
console.log(items);
---
<Layout title="Welcome to Astro.">
      <h1 class="text-center font-bold text-5xl mt-32">Lista de guías</h1>
      <section class="w-100 ml-64 mr-64  mt-24 grid grid-cols-3 justify-items-center">
      {
          items.map((item) => (
          <GuidePost title={item.title} date={item.created} thumbnail={getThumb(item)} />
          ))
      }
      </section>
</Layout>
