---
import GuidePost from "@/components/Guides/GuidePost";
import Archive from "../layouts/Archive.astro";
import PocketBase from 'pocketbase';
import { getThumb } from '@/lib/utils'

async function getItems() {
  const pb = new PocketBase("https://esciclismomalaga.pockethost.io");
  const resultList = await pb.collection("guias").getList(1, 50);
  return resultList.items;
}

const items = await getItems();
console.log(items);
---

<Archive>
    <h1 class="text-center font-bold text-5xl mt-32">Nuevas Noticias</h1>
    <section class="w-full mt-24 grid grid-cols-3 justify-items-center">
    {
        items.map((item) => (
        <GuidePost title={item.title} date={item.created} thumbnail={getThumb(item)} />
        ))
    }
    </section>
</Archive>