---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Actualidad from "../components/Actualidad.astro";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-screen-xl mx-auto px-40">
    <Hero />
    <Actualidad />
  </main>
</Layout>
