---
import FeaturedCard from "@/components/FeaturedCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <section class="p-40">
        <FeaturedCard></FeaturedCard>
    </section>
    

</Layout>
