---
import Slider from "@/components/Slider.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <section class="p-40">
        <Slider client:load></Slider>
    </section>
    

</Layout>
