---
import PostList from "@/components/NewPosts/PostList";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <section class="p-40">
        <PostList client:load/>
    </section>
    

</Layout>
