---
import FeaturedBlog from "./FeaturedBlog.jsx";
---

<section class="p-32 h-auto">
  <h1 class="text-3xl font-bold text-center mb-24 lg:text-5xl">Novedades</h1>

  <div class="flex flex-col w-full items-center gap-6 lg:grid lg:grid-cols-3">
    <div class="lg:col-span-3">
      <FeaturedBlog
        title="prueba de como funciona un blog con astro"
        author="ertiti11"
        date="2021/10/10"
        tags={["astro"]}
      />
    </div>
    <div class="lg:col-span-1">
      <FeaturedBlog
        title="prueba de como funciona un blog con astro"
        author="ertiti11"
        date="2021/10/10"
        tags={["astro"]}
      />
    </div>
    <div class="lg:col-span-1">
      <FeaturedBlog
        title="prueba de como funciona un blog con astro"
        author="ertiti11"
        date="2021/10/10"
        tags={["astro"]}
      />
    </div>
    <div class="lg:col-span-1">
      <FeaturedBlog
        title="prueba de como funciona un blog con astro"
        author="ertiti11"
        date="2021/10/10"
        tags={["astro"]}
      />
    </div>
  </div>
</section>
