.embla__container {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 10px;
  }
  .embla__slide {
    flex: 10px 10px 10px; /* Slide covers 200px of the viewport */
    min-width: 0;
  }