---

---

<section class="bg-white dark:bg-gray-900 mt-14">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
    >
      Contacta con nosotros
    </h2>
    <p
      class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
    >
      ¿Quieres formar parte de este equipo? ¿Te gusta el ciclismo, la aventura y
      compartir este precioso hobbie con más gente como tú? ¡Escríbenos y forma
      parte de esta Gran Familia!
    </p>
    <form id="formulario" action="#" class="space-y-8">
      <div>
        <label
          for="Nombre"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Nombre</label
        >
        <input
          type="text"
          id="nombre"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="Adrián "
          required
        />
      </div>
      <div>
        <label
          for="apellidos"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Apellidos</label
        >
        <input
          type="text"
          id="apellidos"
          class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="Pérez García"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
          >Email</label
        >
        <input
          type="email"
          id="email"
          class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="johndow@gmail.com"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="telefono"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
          >Teléfono</label
        >
        <input
          type="number"
          id="telefono"
          class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="655 655 655"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="asunto"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
          >Asunto</label
        >
        <textarea
          id="asunto"
          rows="6"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="Escribe aquí tu mensaje..."></textarea>
      </div>
      <button
        type="submit"
        class="py-3 px-5 text-sm font-medium text-center text-black rounded-lg bg-gray-300 sm:w-fit hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >Enviar mensaje</button
      >
    </form>
  </div>
</section>

<script>
  import PocketBase from "pocketbase";

  const pb = new PocketBase("https://esciclismomalaga.pockethost.io");
  const form = document.getElementById("formulario");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    console.log("Enviando formulario");
    const nombre = document.getElementById("nombre") as HTMLInputElement;
    const apellidos = document.getElementById("apellidos") as HTMLInputElement;
    const email = document.getElementById("email") as HTMLInputElement;
    const telefono = document.getElementById("telefono") as HTMLInputElement;
    const asunto = document.getElementById("asunto") as HTMLInputElement;

    const data = {
      nombre: nombre.value,
      apellidos: apellidos.value,
      email: email.value,
      telefono: telefono.value,
      asunto: asunto.value,
    };

    const record = await pb.collection("formulario").create(data);
  });
</script>
