---
import { Picture } from "astro:assets";
import banco from "./assets/banco.png";
---

<section
  class="relative z-10  py-10 shadow-lg flex flex-col items-center justify-center w-[1079px] rounded-3xl"
>
  <h3 class="text-4xl font-bold">Nuestros Valores</h3>
  <div class="flex gap-24">
    <div class="flex flex-col w-[250px] justify-center items-center gap-4">
      <img
        class="w-24"
        src="https://escuela.fundacioncontadorteam.com/wp-content/uploads/fomentar@2x.png"
        alt=""
      />
      <h4 class="text-3xl font-bold uppercase">Compañerismo</h4>
      <p class="text-center font-normal leading-7">
        Trabajamos en equipo desde el fomento de la amistad.
      </p>
    </div>
    <div class="flex flex-col w-[250px] justify-center items-center gap-4">
      <img
        class="w-24"
        src="https://escuela.fundacioncontadorteam.com/wp-content/uploads/fomentar@2x.png"
        alt=""
      />
      <h4 class="text-3xl font-bold uppercase">Compañerismo</h4>
      <p class="text-center font-normal leading-7">
        Trabajamos en equipo desde el fomento de la amistad.
      </p>
    </div>
    <div class="flex flex-col w-[250px] justify-center items-center gap-4">
      <img
        class="w-24"
        src="https://escuela.fundacioncontadorteam.com/wp-content/uploads/fomentar@2x.png"
        alt=""
      />
      <h4 class="text-3xl font-bold uppercase">Compañerismo</h4>
      <p class="text-center font-normal leading-7">
        Trabajamos en equipo desde el fomento de la amistad.
      </p>
    </div>
  </div>
</section>
