---
import HeroImg from "./assets/Hero.png"
---

<section class="w-[1100px] flex mt-40 items-center">
  <div class="flex flex-col gap-10">
    <h2 style="font-size: 64px;" class=" font-bold capitalize leading-none	">Comunidad, compañerismo y diversión</h2>
    <p class=" text-xl font-normal ">
      La mejor escuela de ciciclismo para los mas grander, peques y todos los
      publicos, la mejor escuela de ciciclismo para los mas grander, peques y
      todos los publicos,
    </p>
    <button class="w-72 rounded-xl bg-black py-6 px-15 text-white text-xl font-normal">Conocer la escuela</button>
  </div>

  <div>
    <img class="w-full" src={HeroImg.src} alt="">
  </div>
</section>
