---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar/Navbar.astro";

const {title, thumbnail} = Astro.props


---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <main>
      <div class="w-full h-[500px] relative ">
        <div class="rounded-xl absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-70 "></div>
        <img
          class="w-full h-[500px] object-cover mt-24 "
          src={thumbnail}
          alt=""
        />
        <h1 class="bottom-0 absolute m-8 text-5xl text-white font-bold	">{title}</h1>
        <slot />
        
      </div>

      <Footer />
    </main>
  </body>
</html>




<script>



</script>