---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />

    <main>
      <div class="w-full h-[400px]">
        <img
          class="w-full h-[400px] object-cover mt-24"
          src="https://esciclismomalaga.pockethost.io/api/files/nu19xf6p3k5w509/tzsh5qzh1reiw4z/captura_de_pantalla_2024_03_26_220133_xV4dlsdpAY.png?token="
          alt=""
        />
      </div>

      <Footer />
    </main>
  </body>
</html>
